# Importing Data Section
## The csv data used below is 2014 loans and is available [here](https://www.lendingclub.com/info/download-data.action )

In [1]:
#importing pandas to help with importing data set
import pandas as pd

In [13]:
#importing pandas stats library 
import statsmodels.formula.api as sm

In [11]:
# using the pandas read csv function to pull in my data this is my panda dataframe
## using parens to call the function with parameters, and quotes for the string.
###The last 4 rows in my data set are not necessary, and I ned to drop them along with my first row. 
lc_test = pd.read_csv(filepath_or_buffer="/Users/z013mbn/Desktop/LC_Test.csv",skiprows=0, skipfooter=4, header=1)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

In [12]:
#check to make sure my data set is correct
print(lc_test)

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0      NaN        NaN      15000        15000            15000   60 months
1      NaN        NaN      10400        10400            10400   36 months
2      NaN        NaN      12800        12800            12800   60 months
3      NaN        NaN      21425        21425            21425   60 months
4      NaN        NaN       7650         7650             7650   36 months
5      NaN        NaN       9600         9600             9600   36 months
6      NaN        NaN      17000        17000            17000   36 months
7      NaN        NaN      21075        21075            21075   60 months
8      NaN        NaN      12975        12975            12975   36 months
9      NaN        NaN       5250         5250             5250   36 months
10     NaN        NaN      10000        10000            10000   36 months
11     NaN        NaN       2500         2500             2500   36 months
12     NaN        NaN      23325        23325            23325   36 months
13     NaN        NaN      16000        16000            16000   60 months
14     NaN        NaN       6000         6000             6000   36 months
15     NaN        NaN       2000         2000             2000   36 months
16     NaN        NaN       3000         3000             3000   36 months
17     NaN        NaN       2000         2000             2000   36 months
18     NaN        NaN       2000         2000             2000   36 months
19     NaN        NaN      13550        13550            13550   60 months
20     NaN        NaN       7200         7200             7200   36 months
21     NaN        NaN       1000         1000             1000   36 months
22     NaN        NaN      14000        14000            14000   36 months
23     NaN        NaN       5000         5000             5000   36 months
24     NaN        NaN       2000         2000             2000   36 months
25     NaN        NaN      18000        18000            18000   36 months
26     NaN        NaN      10800        10800            10800   36 months
27     NaN        NaN       6000         6000             6000   36 months
28     NaN        NaN       4000         4000             4000   36 months
29     NaN        NaN      15000        15000            15000   60 months
...     ..        ...        ...          ...              ...         ...
235599 NaN        NaN      35000        35000            35000   36 months
235600 NaN        NaN      15000        15000            15000   36 months
235601 NaN        NaN      12800        12800            12800   36 months
235602 NaN        NaN      24000        24000            24000   36 months
235603 NaN        NaN      18000        18000            17975   36 months
235604 NaN        NaN       7000         7000             7000   36 months
235605 NaN        NaN      14400        14400            14375   36 months
235606 NaN        NaN      14000        14000            14000   36 months
235607 NaN        NaN      24000        24000            24000   36 months
235608 NaN        NaN      15250        15250            15250   36 months
235609 NaN        NaN      32000        32000            31975   36 months
235610 NaN        NaN      12000        12000            12000   36 months
235611 NaN        NaN      10000        10000            10000   36 months
235612 NaN        NaN      12000        12000            12000   36 months
235613 NaN        NaN      10000        10000            10000   36 months
235614 NaN        NaN       5000         5000             5000   36 months
235615 NaN        NaN      13250        13250            13225   60 months
235616 NaN        NaN      12000        12000            12000   60 months
235617 NaN        NaN       6000         6000             6000   36 months
235618 NaN        NaN      10000        10000            10000   36 months
235619 NaN        NaN       8525         8525             8525   60 months
235620 NaN        NaN       6000         6000             6000   36 months
235621 NaN        NaN      18000        18000            17975   36 months
235622 NaN        NaN      15000        15000            15000   36 months
235623 NaN        NaN      10000        10000            10000   36 months
235624 NaN        NaN      18400        18400            18400   60 months
235625 NaN        NaN      22000        22000            22000   60 months
235626 NaN        NaN      20700        20700            20700   60 months
235627 NaN        NaN       2000         2000             2000   36 months
235628 NaN        NaN      10000        10000             9975   36 months

       int_rate  installment grade sub_grade       ...        \
0        12.39%       336.64     C        C1       ...
1         6.99%       321.08     A        A3       ...
2        17.14%       319.08     D        D4       ...
3        15.59%       516.36     D        D1       ...
4        13.66%       260.20     C        C3       ...
5        13.66%       326.53     C        C3       ...
6        13.66%       578.22     C        C3       ...
7        21.99%       581.95     E        E5       ...
8        17.86%       468.17     D        D5       ...
9        11.44%       172.98     B        B4       ...
10       11.99%       332.10     B        B5       ...
11       11.99%        83.03     B        B5       ...
12       14.31%       800.71     C        C4       ...
13       11.44%       351.40     B        B4       ...
14       10.49%       194.99     B        B3       ...
15       14.99%        69.33     C        C5       ...
16       10.49%        97.50     B        B3       ...
17       15.99%        70.31     D        D2       ...
18       14.31%        68.66     C        C4       ...
19       19.99%       358.92     E        E3       ...
20       12.39%       240.49     C        C1       ...
21       12.39%        33.41     C        C1       ...
22       10.49%       454.97     B        B3       ...
23       10.49%       162.49     B        B3       ...
24       12.99%        67.38     C        C2       ...
25       11.99%       597.78     B        B5       ...
26        9.49%       345.91     B        B2       ...
27       14.99%       207.97     C        C5       ...
28       15.99%       140.61     D        D2       ...
29       20.99%       405.72     E        E4       ...
...         ...          ...   ...       ...       ...
235599   18.25%      1269.73     D        D3       ...
235600   16.99%       534.72     D        D1       ...
235601   13.53%       434.56     B        B5       ...
235602   21.48%       910.13     E        E2       ...
235603   15.61%       629.37     C        C4       ...
235604    9.67%       224.79     B        B1       ...
235605   13.53%       488.88     B        B5       ...
235606   16.24%       493.86     C        C5       ...
235607   13.98%       820.04     C        C1       ...
235608   17.57%       548.05     D        D2       ...
235609    7.90%      1001.29     A        A4       ...
235610    8.90%       381.04     A        A5       ...
235611   12.85%       336.22     B        B4       ...
235612   16.24%       423.31     C        C5       ...
235613    7.90%       312.91     A        A4       ...
235614   22.40%       191.99     E        E3       ...
235615   22.90%       372.77     E        E4       ...
235616   21.48%       327.89     E        E2       ...
235617   10.99%       196.41     B        B2       ...
235618   11.99%       332.10     B        B3       ...
235619   18.25%       217.65     D        D3       ...
235620   15.61%       209.79     C        C4       ...
235621    7.90%       563.23     A        A4       ...
235622   13.53%       509.25     B        B5       ...
235623   18.25%       362.78     D        D3       ...
235624   14.47%       432.64     C        C2       ...
235625   19.97%       582.50     D        D5       ...
235626   16.99%       514.34     D        D1       ...
235627    7.90%        62.59     A        A4       ...
235628   19.20%       367.58     D        D3       ...

       hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                 NaN                          NaN
1                                 NaN                          NaN
2                                 NaN                          NaN
3                                 NaN                          NaN
4                                 NaN                          NaN
5                                 NaN                          NaN
6                                 NaN                          NaN
7                                 NaN                          NaN
8                                 NaN                          NaN
9                                 NaN                          NaN
10                                NaN                          NaN
11                                NaN                          NaN
12                                NaN                          NaN
13                                NaN                          NaN
14                                NaN                          NaN
15                                NaN                          NaN
16                                NaN                          NaN
17                                NaN                          NaN
18                                NaN                          NaN
19                                NaN                          NaN
20                                NaN                          NaN
21                                NaN                          NaN
22                                NaN                          NaN
23                                NaN                          NaN
24                                NaN                          NaN
25                                NaN                          NaN
26                                NaN                          NaN
27                                NaN                          NaN
28                                NaN                          NaN
29                                NaN                          NaN
...                               ...                          ...
235599                            NaN                          NaN
235600                            NaN                          NaN
235601                            NaN                          NaN
235602                            NaN                          NaN
235603                            NaN                          NaN
235604                            NaN                          NaN
235605                            NaN                          NaN
235606                            NaN                          NaN
235607                            NaN                          NaN
235608                            NaN                          NaN
235609                            NaN                          NaN
235610                            NaN                          NaN
235611                            NaN                          NaN
235612                            NaN                          NaN
235613                            NaN                          NaN
235614                            NaN                          NaN
235615                            NaN                          NaN
235616                            NaN                          NaN
235617                            NaN                          NaN
235618                            NaN                          NaN
235619                            NaN                          NaN
235620                            NaN                          NaN
235621                            NaN                          NaN
235622                            NaN                          NaN
235623                            NaN                          NaN
235624                            NaN                          NaN
235625                            NaN                          NaN
235626                            NaN                          NaN
235627                            NaN                          NaN
235628                            NaN                          NaN

       disbursement_method  debt_settlement_flag debt_settlement_flag_date  \
0                     Cash                     N                       NaN
1                     Cash                     N                       NaN
2                     Cash                     N                       NaN
3                     Cash                     N                       NaN
4                     Cash                     N                       NaN
5                     Cash                     N                       NaN
6                     Cash                     N                       NaN
7                     Cash                     N                       NaN
8                     Cash                     N                       NaN
9                     Cash                     N                       NaN
10                    Cash                     N                       NaN
11                    Cash                     N                       NaN
12                    Cash                     N                       NaN
13                    Cash                     N                       NaN
14                    Cash                     N                       NaN
15                    Cash                     N                       NaN
16                    Cash                     N                       NaN
17                    Cash                     N                       NaN
18                    Cash                     N                       NaN
19                    Cash                     N                       NaN
20                    Cash                     N                       NaN
21                    Cash                     N                       NaN
22                    Cash                     N                       NaN
23                    Cash                     Y                    Jan-18
24                    Cash                     N                       NaN
25                    Cash                     N                       NaN
26                    Cash                     N                       NaN
27                    Cash                     N                       NaN
28                    Cash                     N                       NaN
29                    Cash                     N                       NaN
...                    ...                   ...                       ...
235599                Cash                     N                       NaN
235600                Cash                     N                       NaN
235601                Cash                     N                       NaN
235602                Cash                     N                       NaN
235603                Cash                     N                       NaN
235604                Cash                     N                       NaN
235605                Cash                     N                       NaN
235606                Cash                     N                       NaN
235607                Cash                     N                       NaN
235608                Cash                     N                       NaN
235609                Cash                     N                       NaN
235610                Cash                     N                       NaN
235611                Cash                     N                       NaN
235612                Cash                     N                       NaN
235613                Cash                     N                       NaN
235614                Cash                     N                       NaN
235615                Cash                     N                       NaN
235616                Cash                     N                       NaN
235617                Cash                     N                       NaN
235618                Cash                     N                       NaN
235619                Cash                     N                       NaN
235620                Cash                     N                       NaN
235621                Cash                     N                       NaN
235622                Cash                     N                       NaN
235623                Cash                     N                       NaN
235624                Cash                     N                       NaN
235625                Cash                     N                       NaN
235626                Cash                     N                       NaN
235627                Cash                     N                       NaN
235628                Cash                     N                       NaN

       settlement_status settlement_date settlement_amount  \
0                    NaN             NaN               NaN
1                    NaN             NaN               NaN
2                    NaN             NaN               NaN
3                    NaN             NaN               NaN
4                    NaN             NaN               NaN
5                    NaN             NaN               NaN
6                    NaN             NaN               NaN
7                    NaN             NaN               NaN
8                    NaN             NaN               NaN
9                    NaN             NaN               NaN
10                   NaN             NaN               NaN
11                   NaN             NaN               NaN
12                   NaN             NaN               NaN
13                   NaN             NaN               NaN
14                   NaN             NaN               NaN
15                   NaN             NaN               NaN
16                   NaN             NaN               NaN
17                   NaN             NaN               NaN
18                   NaN             NaN               NaN
19                   NaN             NaN               NaN
20                   NaN             NaN               NaN
21                   NaN             NaN               NaN
22                   NaN             NaN               NaN
23                ACTIVE          Jan-18             753.0
24                   NaN             NaN               NaN
25                   NaN             NaN               NaN
26                   NaN             NaN               NaN
27                   NaN             NaN               NaN
28                   NaN             NaN               NaN
29                   NaN             NaN               NaN
...                  ...             ...               ...
235599               NaN             NaN               NaN
235600               NaN             NaN               NaN
235601               NaN             NaN               NaN
235602               NaN             NaN               NaN
235603               NaN             NaN               NaN
235604               NaN             NaN               NaN
235605               NaN             NaN               NaN
235606               NaN             NaN               NaN
235607               NaN             NaN               NaN
235608               NaN             NaN               NaN
235609               NaN             NaN               NaN
235610               NaN             NaN               NaN
235611               NaN             NaN               NaN
235612               NaN             NaN               NaN
235613               NaN             NaN               NaN
235614               NaN             NaN               NaN
235615               NaN             NaN               NaN
235616               NaN             NaN               NaN
235617               NaN             NaN               NaN
235618               NaN             NaN               NaN

In [139]:
#look at the descriptive statistics for our variables
lc_test.describe(include='all')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,235629.000000,235629.000000,235629.000000,235629,235629,235629.000000,235629,235629,...,383.000000,383.000000,235629,235629,3403,3403,3403,3403.000000,3403.000000,3403.000000
unique,NaN,NaN,NaN,NaN,NaN,2,89,NaN,7,35,...,NaN,NaN,1,2,42,3,44,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,36 months,12.99%,NaN,C,C2,...,NaN,NaN,Cash,N,Jan-18,COMPLETE,Apr-17,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,162570,12630,NaN,66565,13965,...,NaN,NaN,235629,232226,297,1705,234,NaN,NaN,NaN
mean,NaN,NaN,14870.156793,14870.156793,14865.334169,NaN,NaN,442.458886,NaN,NaN,...,8786.366266,203.231749,NaN,NaN,NaN,NaN,NaN,4680.985436,47.134543,8.324126
std,NaN,NaN,8438.318193,8438.318193,8435.524995,NaN,NaN,245.043498,NaN,NaN,...,4843.283983,154.861779,NaN,NaN,NaN,NaN,NaN,3443.862541,10.768565,8.493756
min,NaN,NaN,1000.000000,1000.000000,950.000000,NaN,NaN,23.360000,NaN,NaN,...,174.150000,0.040000,NaN,NaN,NaN,NaN,NaN,44.210000,0.550000,0.000000
25%,NaN,NaN,8325.000000,8325.000000,8325.000000,NaN,NaN,265.680000,NaN,NaN,...,5152.350000,76.945000,NaN,NaN,NaN,NaN,NaN,2077.955000,45.000000,0.000000
50%,NaN,NaN,13000.000000,13000.000000,13000.000000,NaN,NaN,384.060000,NaN,NaN,...,8291.850000,181.210000,NaN,NaN,NaN,NaN,NaN,3954.080000,45.000000,6.000000
75%,NaN,NaN,20000.000000,20000.000000,20000.000000,NaN,NaN,578.690000,NaN,NaN,...,12125.800000,291.805000,NaN,NaN,NaN,NaN,NaN,6398.050000,50.000000,15.000000
max,NaN,NaN,35000.000000,35000.000000,35000.000000,NaN,NaN,1409.990000,NaN,NaN,...,21750.750000,757.420000,NaN,NaN,NaN,NaN,NaN,28000.000000,521.350000,36.000000

## Searching for correlative variables with my predictor variable loan_status

In [155]:
#We need to clean up the data set to create a 1 for fully paid off or 0 if not 
lc_clean = pd.get_dummies(lc_test, prefix=None, prefix_sep='_', dummy_na=False, columns=["loan_status", "grade"], sparse=False, drop_first=False)

In [101]:
#inspect the columns 
lc_clean.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                           object
int_rate                                       object
installment                                   float64
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
pymnt_plan                                     object
url                                           float64
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
                                               ...
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
loan_status_Charged Off                         uint8
loan_status_Current                             uint8
loan_status_Default                             uint8
loan_status_Fully Paid                          uint8
loan_status_In Grace Period                     uint8
loan_status_Late (16-30 days)                   uint8
loan_status_Late (31-120 days)                  uint8
grade_A                                         uint8
grade_B                                         uint8
grade_C                                         uint8
grade_D                                         uint8
grade_E                                         uint8
grade_F                                         uint8
grade_G                                         uint8
Length: 157, dtype: object

In [161]:
#renaming the columns I want to get a correlation for
##https://stackoverflow.com/questions/11346283/renaming-columns-in-pandas 
lc_clean = lc_clean.rename(columns={'loan_status_Fully Paid': 'loan_status_fully_paid', 'loan_status_Charged Off': 'loan_status_Charged_Off', 'loan_status_In Grace Period': 'loan_status_In_Grace_Period', 'loan_status_Late (16-30 days)': 'loan_status_Late_(16-30 days)', 'loan_status_Late (31-120 days)': 'loan_status_Late_(31-120 days)'})

In [159]:
lc_clean.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                           object
int_rate                                       object
installment                                   float64
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
pymnt_plan                                     object
url                                           float64
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
                                               ...
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
loan_status_Charged_Off                         uint8
loan_status_Current                             uint8
loan_status_Default                             uint8
loan_status_fully_paid                          uint8
loan_status_In Grace_Period                     uint8
loan_status_Late_(16-30 days)                   uint8
loan_status_Late_(31-120 days)                  uint8
grade_A                                         uint8
grade_B                                         uint8
grade_C                                         uint8
grade_D                                         uint8
grade_E                                         uint8
grade_F                                         uint8
grade_G                                         uint8
Length: 157, dtype: object

In [172]:
#creating a subset of the data to analyze the stats behind loan_status. 
loan_status = lc_clean[['loan_status_Charged_Off', 'loan_status_Current', 'loan_status_Default', 'loan_status_fully_paid', 'loan_status_In Grace_Period', 'loan_status_Late_(16-30 days)', 'loan_status_Late_(31-120 days)']]
loan_status.describe(include='all')

,loan_status_Charged_Off,loan_status_Current,loan_status_Default,loan_status_fully_paid,loan_status_In Grace_Period,loan_status_Late_(16-30 days),loan_status_Late_(31-120 days)
count,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000,235629.000000
mean,0.166448,0.094729,0.000004,0.732877,0.002147,0.000637,0.003158
std,0.372483,0.292841,0.002060,0.442458,0.046291,0.025223,0.056103
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
#of the charge_off, what was the grade breakdown?

In [173]:
#creating a subset of the data to analyze the correlation coeffecient between loan_status_fully_paid and other variables
small = lc_clean[['loan_status_fully_paid','annual_inc', 'grade_A', 'grade_B', 'grade_C', 'grade_D', 'grade_E']]

In [174]:
correlation = small.corr(method='pearson')

In [175]:
correlation

,loan_status_fully_paid,annual_inc,grade_A,grade_B,grade_C,grade_D,grade_E
loan_status_fully_paid,1.000000,0.024756,0.194869,0.139466,-0.037836,-0.141928,-0.146665
annual_inc,0.024756,1.000000,0.097683,0.006653,-0.034181,-0.035527,-0.024832
grade_A,0.194869,0.097683,1.000000,-0.254029,-0.266935,-0.200970,-0.129987
grade_B,0.139466,0.006653,-0.254029,1.000000,-0.374691,-0.282098,-0.182460
grade_C,-0.037836,-0.034181,-0.266935,-0.374691,1.000000,-0.296429,-0.191730
grade_D,-0.141928,-0.035527,-0.200970,-0.282098,-0.296429,1.000000,-0.144350
grade_E,-0.146665,-0.024832,-0.129987,-0.182460,-0.191730,-0.144350,1.000000